@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:ital,wght@0,500;1,500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Section Start */

.header-container{
    background: rgba(255, 144, 14, 0.1);
    width: 1920px;
    height: 1322px;
}
.menu-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-left: 228px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.menu-items{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 477px;
    height: 26px;
    margin-right: 240px;
}
.item{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}

.header-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-info{
    padding-top: 100px;
    padding-left: 530px;
    padding-right: 530px;
    width: 862px;
    height: 225px;
}

.header-info-title{
    font-weight: 700;
    font-size: 64px;
}

.header-info-description{
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.header-info-button{
    width: 180px;
    height: 64px;
    margin-top: 32px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.header-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-banner img{
    width: 1440px;
    height: 700px;
}

/* Header Section End */


/* Features Section Start  */

.features{
    width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features-images{
    margin-top: 85px;
    margin-left: 301px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.images{
    width: 342px;
    height: 342px;
}

.features-details{
    width: 537px;
    height: 304px;
    padding-right: 301px;
}

.features-title{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24;
}
.features-title-1{
    color: #727272;
}
.features-title-2{
    color: #131313;
}
.features-title-3{
    color: #FF900E;
}
.features-description{
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
}
.features-details-button{
    margin-top: 32px;
    padding-top: 30px;
    width: 180px;
    height: 64px;
    font-size: 20px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 23px;
}

/* Features Section End */

/* Features Summary Section Start */

.features-summary{
    margin: 130px 240px;
    display: flex;
    align-items: center;
}
.features-summary-details{
    width: 586px;
    height: 982px;
}
.features-summary-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.features-summary-description{
    padding-top: 24px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.features-summary-image{
    width: 800px;
    height: 1059px;
    margin-left: 84px;
}

.features-summary-items{
    width: 586px;
    height: 744px;
}
.features-summary-item{
    margin-top: 20px;
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.features-summary-item h3{
    padding-top: 30px;
    padding-left: 33px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}
.features-summary-item p{
    padding-left: 33px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}


.features-summary-button{
    display: flex;
    justify-content: center;
}

.features-summary-button > button{
    width: 342px;
    height: 200px;
    left: 880px;
    top: 3104px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: -320px;
    margin-left: 150px;
}
.features-summary-button1{
   margin-top: 45px;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border: none;
}
.features-summary-button2{
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border: none;
}
/* Features Summary Section End */


/* Some Facts Section Start  */

.some-facts-details{
    padding-left: 240px;
}
.some-facts-details h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.some-facts-details p{
    padding-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.some-facts-items{
    margin-top: 100px;
    margin-left: 290px;
    margin-right: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.some-facts-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: width 2s;
    transition: height 2s;
    transform: 2s;
}

.some-facts-item:hover{
    background-color: #FF900E;
    width: 280px;
    height: 280px;
    transform: rotate(1deg);
}


.some-facts-item img{
    margin-top: 45px;
    width: 45.22px;
    height: 45.22px;
}

.some-facts-item h2{
    margin-top: 10px;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
}

.some-facts-item p{
    margin-top: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #727272;
}

/* Our Sponsors Start */

.our-sponsors-info{
    text-align: center;
    margin-top: 180px;
    margin-left: 690px ;
    margin-right: 690px;
    width: 542px;
    height: 129px;
}

.our-sponsors-info h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.our-sponsors-info p{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.sponsors-images{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    margin-top: 50px;
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sponsors-images:hover{
    -webkit-filter: none; 
    filter: none;
}

/* Our Sponsors End */


/* Footer Section Start  */

footer{
    margin: 130px 240px;
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
}

footer p{
    padding: 39px ;
    font-size: 20px;
    text-align: center;
    color: #424242;
}

/* Footer Section End */

